{% for key in secrets %}
{% if secrets[key] != [] %}
{% for s in secrets[key] %}
## {{ key.lower().capitalize() }} {{ loop.index }} - {{ s["description"] }}

### Match
```
{{ s["match"] }}
```

### Location
```
{{ s["location"] }}
```

### Commit flaged

{{ s["commit"] }}

{% endfor %}
{% endif %}
{% endfor %}