{% for site in vulns %}
{% for key in site["vulns"] %}
{% if site["vulns"][key] != [] %}
{% for vuln in site["vulns"][key] %}
## {{ vuln["name"].replace(" - ","-").replace("-"," ") }} instances

### Instances
{% for instance in vuln["instances"] %}

- Method:  {{ instance["method"].replace("#","\#") }}
- URL: {{ instance["uri"].replace("#","\#") }}
- Attack: {{ instance["attack"].replace("#","\#") }}
- Evidence: {{ instance["evidence"].replace("#","\#") }}

------------------
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}