{% for site in vulns %}
{% for key in site["vulns"] %}
{% if site["vulns"][key] != [] %}
{% for vuln in site["vulns"][key] %}
## {{ vuln["name"].replace(" - ","-").replace("-"," ") }} instances

### Instances
{% for instance in vuln["instances"] %}

- Method:  {{ instance["method"] }}
- URL: {{ instance["uri"] }}
- Attack: {{ instance["attack"] }}
- Evidence: {{ instance["evidence"] }}

------------------
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}